In [1]:
!pip install selenium

import selenium

from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: selenium in c:\users\acer\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: sniffio in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\acer\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\acer\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\acer\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [64]:
from selenium import webdriver

path ='E:\chromedriver.exe' 
driver = webdriver.Chrome(path)

driver.get("https://www.naukri.com/")

In [33]:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [34]:
search_job.send_keys("Data Scientist")

In [35]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

search_loc

In [36]:
search_loc.send_keys("Bangalore")

In [37]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [39]:
search_btn.click()

In [44]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

len(title_tags)

20

In [46]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [47]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

len(company_tags)

20

In [49]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
    
len(company_names)

20

In [56]:
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')

len(exp_tags)

20

In [57]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

In [58]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [59]:
Location = []

for i in loc_tags:
    Location.append(i.text)
    
len(Location)

20

In [61]:
jobs = pd.DataFrame()

jobs['Job_Title']=job_titles
jobs['Job_Location']=Location
jobs['Company_Name']=company_names
jobs['Experience']=experience

In [63]:
jobs.head(11)

,Job_Title,Job_Location,Company_Name,Experience
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell,3-5 Yrs
1,Senior Data Scientist I,Bangalore/Bengaluru,Delhivery,3-7 Yrs
2,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify,0-1 Yrs
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,5-10 Yrs
4,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
5,Global Tax Automation & Operations / Data Scie...,Bangalore/Bengaluru,Dell,5-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,IBM,3-4 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
8,Data Scientist I,Bangalore/Bengaluru,Delhivery,2-5 Yrs
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,3-7 Yrs
10,Data Scientist / ML Engineer,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs